{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": [
		["@babel/plugin-proposal-class-properties", {
			"loose": false
		}], "react-hot-loader/babel",
		"@babel/plugin-transform-regenerator",
		["module-resolver", {
			"alias": {
				"@helpers": "./src/common/helpers",
				"@mocks": "./src/common/mocks",
				"@router": "./src/common/router",
				"@views": "./src/views",
				"@hooks": "./src/hooks",
				"@components": "./src/components",
				"@src": "./src/"
			}
		}]
	]
}